{% extends "navbar.html" %}
{% block content %}
<div class="container">
  <div class="jumbotron" style="background-color: white; box-shadow: 1px 3px 5px 3px rgba(204, 204, 204, 0.3);">
    <h2 class="text-center">The Mushroom Map<br><small>(Ver 1.0)</small></h2>
    <hr />
    <p class="lead">A mushroom distribution map generator powered by python and
      <a style="color:#17a2b8;" href="http://www.mushroomobserver.org">www.mushroomobserver.org</a>.
    </p>
    <p>Select "Search for a Mushroom" on the navigation bar to begin.</p>
  </div>
</div>
{% endblock %}
