{% extends "bootstrap/base.html" %}
{% block title %}The Mushroom Map{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default" style="background-color: white;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The Mushroom Map</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <a href="/" {% if page == 'home' %} style="color: #17a2b8;" {% endif %}>Home</a>
        </li>
        <li>
          <a href="/user_input" {% if page == 'search' %} style="color: #17a2b8;" {% endif %}>Search for a Mushroom</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}
