{% extends "bootstrap/base.html" %}
{% block title %}The Mushroom Map{% endblock %}
{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">The Mushroom Map</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/user_input">Search for a Mushroom</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block content %}
{% endblock %}